$light-background-color: #c3eefd;
$dark-background-color: #389fda;
$font: 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei',
  sans-serif;

#app {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $light-background-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1000px;
  background: #fff;
  width: 100%;
  margin: 0 auto;
}
